@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Red+Hat+Text:wght@700&display=swap');

.todo {
    position: relative;
    max-width: 1400;
    background: linear-gradient(180deg, #B02A2A 0%, #A11B1B 50%, #741616 75% , #ff3d3d21 250%);
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.icono1 {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-top: 45px;
    margin-right: 38px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.icono2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
    margin-right: 75px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
    margin-left: 62px;
    width: 83px;
    height: 36px;
    flex-shrink: 0;
    fill: #E7FFDE;
}

.play {
    display: flex;
    margin-left: 137px;
    color: #FFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%;
    letter-spacing: -6px;
}

.lorem {
    display: flex;
    margin-left: 146px;
    color: #F6F6F6;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.44px;
    width: 373px;
}

button {
    display: flex;
    margin-top: 50px;
    margin-left: 177px;
    width: 238px;
    height: 66px;
    padding: 24px 57px 24px 40px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #000;
}

a {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    margin: auto;
}

.cuerpo {
    display: flex;
    flex-direction: row;
}

.a1 {
    flex: 1;
}

.a2 {
    flex: 0.86;
    background: url(../img/pexels-philip-boakye-2614384-removebg-preview\ 1.png);
    background-repeat: no-repeat;
}

.musica {
    position: absolute;
    bottom: 0;
    width: 800px;
    height: 221px;
    background: rgba(0, 0, 0, 0.50);
}

.flecha {
    margin-bottom: 70px;
    margin-left: 10px;
}

.cancion {
    margin-top: 30px;
    margin-left: 10px;
}

.nombre {
    float: right;
    color: #FFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 76.3%; /* 15.26px */
    letter-spacing: -0.6px;
}

.redes {
    display: flex;
    margin-top: 150px;
}

.face {
    margin-left: 145px;
    padding-right: 15px;
}

.twi {
    padding-right: 15px;
}

.ins {
    padding-right: 15px;
}

